/* fonts */
@font-face{
    font-family: 'Agrandir';
    src: url("/fonts/Agrandir\ -\ Free\ For\ Personal\ Use/Agrandir-Regular.otf");
    font-family: 'Agrandir';
    src: url("/fonts/Agrandir\ -\ Free\ For\ Personal\ Use/Agrandir-Regular.otf");
    font-family: 'Agrandir';
    src: url("/fonts/Agrandir\ -\ Free\ For\ Personal\ Use/Agrandir-Regular.otf");
}

@font-face{
    font-family: 'Avenir';
    src: url("/fonts/avenir_ff/AvenirLTStd-Book.otf");
}

:root{
    --main-text-font: 'Montserrat', sans-serif;
    --main-paragraph-bg-color: #ebebeb;
    --main-text-color: #3f2014 !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    opacity: 0.9;
    cursor: pointer;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    margin: 0;
    justify-content: center;
}
/* header styles */
header{
    position: relative;
    width: 100%;
    height: auto;
    padding: 2px;
    background: #000;
}

.logo{
    height: 60px;
    padding: 0 20px 0px;
    margin-left: 20px;
    float: left;
    width: 48%;
}

.logo-img{
    max-width: 65%;
    height: auto;
}

.logo-text{
    margin-bottom: 12px;
}

nav{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.clearfix{
    clear: both;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 5px 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-family: Agrandir;
}
nav ul li a.active{
    background: #3133b8;
    transition: 0.5s;
    padding: 5px 10px 3px;
}

#club{
    color: #ebda43;
}

@media (max-width: 1200px){
    header{
        margin: 0px;
        height: auto;
    }

    .logo{
        margin-top: 10px;
        width: 50%;
    }

    .logo-img{
        max-width: 50%;
        height: auto;
    }

    .logo-text{
        max-width: 50%;
        height: auto;
    }
}

@media (max-width: 768px){

    header{
        margin: 0;
        height: auto;
    }
    .logo{
        margin-top: 50px;
        width: 80%;
        position: absolute;
        top: -50%;
        left: 3%;
        border: none;
    }

    .logo>img{
        width: 100%;
        height: 50px;
        border: none;
    }
    .menu-toggle{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #fff;
    }

    .menu-toggle::before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }

    .menu-toggle.active:before{
        content: '\f00d';
    }

    nav{
        display: none;
    }

    nav.active{
        display: block;
        width: 100%;
    }

    nav.active ul{
        display: block;
    }
    nav.active ul li a{
        margin: 0;
    }
}
/* end of header styles */

/* home section styles */
#home{
    display: flex;
    width: 100%;
    height: auto;
    margin: 100px 50px;
    position: relative;
    justify-content: space-around;
}

.section-img{
    width: 40%;
    margin-left: 30px;
    position: relative;
    top: 5%;
}

.section-img >img{
    height: auto;
    max-width: 100%;
    position: relative;
    z-index: 2;
}

.section-description{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header{
    width: 100%;
}

.header >h5{
    width: 70%;
    font-size: 2rem;
    font-weight: 590;
    letter-spacing: 1.8px;
    line-height: 1.5;
    font-family: Agrandir;
}

#section-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: var(--main-paragraph-bg-color);
    width: 85%;
    height: 180px;
    padding: 20px;
    border: none;
    border-radius: 7px;
    margin-top: 15px;
}

#section-text >p{
    letter-spacing: .8;
    line-height: 1.5;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: var(--main-text-color);
    width: 100%;
}

.section-buttons{
    width: 80%;
    display: flex;
    margin-top: 30px;
}

#red{
  width: 45%;
  height: 40px;
  margin-right: 20px;
  border: none;
  border-radius: 50px;
  outline: none;
  color: #fff;
  background: #f50808;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  font-family: Agrandir;
  letter-spacing: 1.5px;
}
#red:hover{
    background: #be7d32;
}
#blue{
    width: 45%;
    height: 40px;
    margin-right: 20px;
    border: none;
    border-radius: 50px;
    outline: none;
    color: #fff;
    background: #512ae0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    font-family: Agrandir;
    letter-spacing: 1.5px;
  }
  #blue:hover{
    background: #acb937;
}
/* end of home section styles */

/* about section */
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    margin: 50px 0px 50px;
}

#about >h3{
  text-align: center;
  margin-bottom: 100px;
  font-size: 2rem;
  font-weight: 300;
}

.reasons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
}

.actual-reason{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    position: relative;
    text-align: center;
}

.wrapper{
    position: relative;
    margin-bottom: 70px;
    width: 100%;
    height: auto;
}

.board-img{
    max-width: 40%;
    height: auto;
}

.student-img{
    position:absolute;
    top: 45%;
    left:25%;
    max-width:90%;
    opacity: 1;
    height: auto;
}

#dynamic-img{
    position:absolute;
    top: 20%;
    left:23%;
    max-width:85%;
    height: auto;
}

.actual-reason >h3{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1rem;
    letter-spacing: 1.2px;
    line-height: 1.8;
    margin-top: 60px;
    text-align: center;
    opacity: 1;
}

.actual-reason >p{
    font-size: 1rem;
    color: #706e6e;
    width: 80%;
    letter-spacing: 1.2px;
    line-height: 1.3;
    font-family: Avenir;
}
/* end of about */

/* clubs style */
#clubs{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px 50px 0px;
}

.images{
    display: flex;
    width: 50%;
    height: 300px;
    margin-left: 50px;
    justify-content: space-around;
    margin-top: 30px;
}

.images >img{
    height: auto;
    max-width: 50%;
}

.club-description{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 100px;
}

.club-description >h3{
    font-size: 2rem;
    font-weight: 500;
    line-height: 3;
    letter-spacing: 1.2;
    font-family: Agrandir;
}

.club-text{
    background: var(--main-paragraph-bg-color);
    width: 75%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    border: none;
    border-radius: 10px;
}

.club-text >p{
    font-family: 'Montserrat', sans-serif;
    color: var(--main-text-color);
    letter-spacing: .5;
    line-height: 1.8;
    width: 100%;
    font-size: 1rem;
}

#club-button{
    margin-top: 30px;
    width: 30%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 50px;
    background: #f50808;
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
}

#club-button:hover{
    background: #e26a45;
}
/* end of clubs style */

/* credentials styles */
#credentials{
    margin-top: 120px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 50px;
}

.cred-image{
    width: 40%;
    margin-top: 120px;
}

.cred-image >img{
    max-width: 100%;
    height: auto;
    margin: 0px 50px;
}

.details{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 120px;
}

.details >h3{
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 300;
    width: 80%;
}

#form{
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;
}

#form i{
    background: #1dad35;
    color: #fff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    font-size: .55rem;
    margin-left: 5px;
    text-align: center;
    padding: 5px 2px;
    align-content: center;
    display: none;
}

.names{
    display: flex;
    width: 100%;
    align-items: center;
}

.names >input{
    width: 50%;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid #b4b1b1;
    border-radius: 50px;
    font-size: 1rem;
    padding: 20px;
    outline: none;
}

#last{
    margin-left: 10px;
}

#number{
  display: flex;
  align-items: center;
}

#number i{
    margin-top: 3px;
}

#number >input{
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid #b4b1b1;
    border-radius: 50px;
    font-size: 1rem;
    padding: 20px;
    outline: none;
}

#id{
    display: flex;
    align-items: center;
}

#id i{
    align-items: center;
    margin-top: 5px;
}

#id >input{
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid #b4b1b1;
    background-color: transparent;
    border-radius: 50px;
    font-size: 1rem;
    padding: 20px;
    outline: none;
}
::-webkit-input-placeholder { 
    color: #beb8b9;
    font-family: Avenir;
  }

.select{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.select i{
margin-top: 5px;
}

.dropdown{
    display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 300;
	color: #b4b0b0;
    line-height: 1.3;
    outline: none;
	padding: .6em 1.4em .5em .8em;
    width: 50%;
    height: 40px;
	max-width: 100%;
	box-sizing: border-box;
	margin: 10px;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: 50px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	  /* linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); */
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.dropdown::-ms-expand {
	display: none;
}

.grade-options{
    display: flex;
    font-size: 1rem;
    margin-top: 50px;
}

#grade >option{
    margin-top: 100px;
}
 select option{
     border-radius: 10px;
 }

 #subject{
     margin-left: 10px;
 }
#subject-btn{
    width: 50%;
    height: 40px;
    border: 1px solid #706e6e;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
    color: #706e6e;
    margin-left: 10px;
    background: none;
    outline: none;
}

#details-button{
    margin-top: 30px;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 50px;
    background: #f50808;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}
/* end of credentials style */
/* team page styles */
#team{
    display: flex;
    justify-content: space-around;
    margin-top: 100px 0px 50px 30px;
    position: relative;
    width: 100%;
}

.team-image{
    display: flex;
    width: 50%;
    margin-left: 30px;
    margin-top: 100px;
}

.team-image >img{
    max-width: 40%;
    height: auto;
}

.team-contents{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    margin-top: 200px;
}

.team-contents >h3{
    max-width: 80%;
    font-size: 2rem;
    font-weight: 700;
    font-family: Agrandir;
}

.team-role{
    width: 80%;
    height: 180px;
    background: var(--main-paragraph-bg-color);
    border-radius: 10px;
    margin-top: 30px;
}

.team-role >p{
    padding: 10px;
    line-height: 1.5;
    font-family: Avenir;
}

#team-btn{
    width: 30%;
    margin-top: 50px;
    border: none;
    border-radius: 50px;
    height: 50px;
    outline: none;
    cursor: pointer;
    color: #ebebeb;
    background: #ff3c00;
    font-size: 1rem;
    font-weight: bold;
    font-family: Agrandir;
    text-align: center;
}

#team-btn:hover{
    opacity: 0.8;
}
/* end of team page styles */

/* contact us styles */
#contact-us{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.contact-section-img{
    width: 40%;
}

.contact-section-img >img{
    margin-left: 150px;
    max-width: 100%;
    height: auto;
    transform: scaleX(-1);
    margin-top: 100px;
}


.contact-details{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 50px;
}

.contact-details >h3{
    margin: 30px;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.2px;
    width: 100%;
    font-family: Agrandir;
}

.connect{
   margin: 30px;
   width: 70%;
   height: 180px;
   display: flex;
   flex-direction: column;
   padding: 20px;
   background: var(--main-paragraph-bg-color);
   justify-content: space-evenly;
   color: var(--main-text-color);
   border: none;
   border-radius: 10px;
   font-family: var(--main-text-font);
}

.connect >a{
    width: 100%;
}

a span{
    margin-top: 5px;
    position: absolute;
}

.connect i{
    margin-right: 15px;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
}

.connect a img{
    cursor: pointer;
    margin-right: 15px;
}

.fa-phone-square-alt{
    color: #19eb3c;
}

.fa-envelope-square{
   color: #43d1eb;
}

.fa-whatsapp-square{
    color: #19eb3c;
}
/* end of contact-us style */
#footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: #bb1212;
    color: #fff;
    height: 120px;
}

.footer-text >p{
    width: 60%;
    margin-left: 50px;
    line-height: 1.5;
    font-family: Agrandir;
}

.footer-icons{
    display: flex;
    justify-content: center;
    margin-right: 30px;
    width: 30%;
}

.footer-icons >li{
    list-style: none;
    padding: 10px;
    font-size: 2rem;
    cursor: pointer;
}

  
#myBtn{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #501b1b;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    z-index: 99;
    font-size: 18px;
    color: #fff;
    padding: 10px;
    transition: ease .5s;
}
#myBtn:hover{
    background-color: #555;
}

/* end of footer styles */


/* responsiveness */
@media (min-width:320px) and (max-width:480px){
    html{
        scroll-behavior: smooth;
    }
    
    body{
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        position: relative;
    }

     /* home section */
   
     #home{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 50px 0px 50px 0px;
        position: relative;
    }
    
    .section-img{
        width: 100%;
        height: auto;
        margin: auto;
    }
    
    .section-img >img{
        max-width: 100%;
        height: auto;
        margin: 30px;
    }
    
    
    .section-description{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        margin-top: 50px;
    }
    
    .header{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .header >h5{
        width: 100%;
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 1.8px;
        font-family: Agrandir;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
    #section-text{
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        background: var(--main-paragraph-bg-color);
        width: 95%;
        height: 200px;
        padding: 20px;
        border: none;
        border-radius: 7px;
        margin-top: 15px;
        text-align: center;
        margin-left: 8px;
    }
    
    #section-text >p{
        letter-spacing: 1px;
        line-height: 1.2;
        font-weight: 500;
        font-family: Avenir;
        color: var(--main-text-color);
        width: 100%;
        font-size: 1rem;
    }
    
    .section-buttons{
        width: 100%;
        display: flex;
        margin: auto;
        margin-top: 30px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    #red{
      width: 40%;
      height: 50px;
      margin-right: 20px;
      border: none;
      border-radius: 50px;
      outline: none;
      color: #fff;
      background: #f50808;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
    }
    #blue{
        width: 40%;
        height: 50px;
        margin-right: 20px;
        border: none;
        border-radius: 50px;
        outline: none;
        color: #fff;
        background: #080cf5;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
      }
    
/* end of home section */
/* about responsiveness */
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    height: auto;
    position: relative;
}

#about >h3{
  text-align: center;
  margin-bottom: 50px;
  font-size: 2rem;
  font-weight: 700;
}

.content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.reasons{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.actual-reason{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    position: relative;
    text-align: center;
}

.actual-reason >img{
    width: 100%;
}

.actual-reason >h3{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1.2px;
    line-height: 1.8;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actual-reason >p{
    font-size: 1rem;
    color: #706e6e;
    letter-spacing: 1.2px;
    line-height: 1.3;
    font-family: Avenir;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* end of about responsiveness */

/* club  responsive*/
#clubs{
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
}

.images{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    height: auto;
    margin: auto;
}

.images >img{
    max-width: 100%;
    height: auto;
}

.club-description{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.club-description >h3{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.2;
    width: 100%;
}

.club-text{
    background: var(--main-paragraph-bg-color);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: none;
    border-radius: 10px;
}

.club-text >p{
    color: var(--main-text-color);
    letter-spacing: 1.5;
    line-height: 1.3;
    width: 100%;
    font-family: Avenir;
    font-size: 1rem;
}

#club-button{
    margin-top: 30px;
    width: 50%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 50px;
    background: #f50808;
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
}
/* end of club responsive */

/* responsive credentials */
#credentials{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.cred-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.details{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.details >h3{
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 300;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form{
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
}

.names{
    display: flex;
    width: 100%;
}

.names >input{
    width: 50%;
    margin-bottom: 10px;
    height: 50px;
    border: 1px solid #b4b1b1;
    border-radius: 50px;
    font-size: 1rem;
    padding: 20px;
    outline: none;
}

#last{
    margin-left: 10px;
}

#number >input{
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    border: 1px solid #b4b1b1;
    border-radius: 50px;
    font-size: 1rem;
    padding: 20px;
    outline: none;
}

#id >input{
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    border: 1px solid #b4b1b1;
    border-radius: 50px;
    font-size: 1rem;
    padding: 20px;
    outline: none;
}
::-webkit-input-placeholder { 
    color: #beb8b9;
    font-family: Avenir;
  }

.select{
    display: flex;
    width: 100%;
    padding: 10px;
}
.dropdown{
    display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 300;
	color: #b4b0b0;
    line-height: 1.3;
    outline: none;
	padding: .6em 1.4em .5em .8em;
    width: 100%;
    height: 50px;
	max-width: 100%;
	box-sizing: border-box;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: 50px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.dropdown::-ms-expand {
	display: none;
}

.grade-options{
    display: flex;
    font-size: 1rem;
    margin-top: 50px;
}

#grade >option{
    margin-top: 100px;
}

#grade{
    width: 100%;
}
 select option{
     border-radius: 10px;
 }

 #subject{
     margin-left: 10px;
     width: 100%;
 }


#details-button{
    margin: auto;
    margin-top: 20px;
    width: 60%;
    height: 60px;
    border: none;
    border-radius: 50px;
    background: #f50808;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: none;
}

/* end of responsive credentials */

/* responsive header */
#team{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.team-image{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.team-image >img{
    max-width: 40%;
    height: auto;
}

.team-contents{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 50px;
}

.team-contents >h3{
    max-width: 100%;
    font-size: 2rem;
    font-weight: 700;
    font-family: Agrandir;
}

.team-role{
    width: 100%;
    height: 180px;
    background: var(--main-paragraph-bg-color);
    border-radius: 10px;
    margin-top: 30px;
}

.team-role >p{
    padding: 10px;
    line-height: 1.5;
    font-family: Avenir;
    text-align: center;
}

#team-btn{
    width: 40%;
    margin-top: 20px;
    border: none;
    border-radius: 50px;
    height: 50px;
    outline: none;
    cursor: pointer;
    color: #ebebeb;
    background: #e9130c;
    font-size: 1rem;
    font-weight: bold;
    font-family: Agrandir;
    text-align: center;
}

#team-btn:hover{
    opacity: 0.8;
}
/* end of responsive header */

/* responsive contact-us */
#contact-us{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 10px;
}

.contact-section-img{
    width: 100%;
    display: flex;
    text-align: center;
    height: auto;
    position: relative;
}

.contact-section-img >img{
    margin: auto;
    max-width: 80%;
    transform: scaleX(-1);
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: auto; */
    position: absolute;
    bottom: 50%;
    top: 20%;
    left: 40%;
    margin-top: 5px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 200px;
}

.contact-details >h3{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect{
   width: 100%;
   /* height: 180px; */
   display: flex;
   flex-direction: column;
   padding: 5px;
   background: var(--main-paragraph-bg-color);
   justify-content: space-evenly;
   color: var(--main-text-color);
   border: none;
   border-radius: 10px;
   font-family: var(--main-text-font);
}

.connect i{
    margin-right: 10px;
    font-size: 2rem;
}

.connect p img{
    cursor: pointer;
    margin-right: 15px;
    max-width: 5%;
}

.fa-phone-square-alt{
    color: #70d170;
    
}


.fa-whatsapp-square{
    color: #68d868;
}

/* end of responsive contact-us */

/* responsive footer */
#footer{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #db0e0e;
    background-size: cover;
    color: #fff;
    margin: 0;
    height: auto;
    
}

.footer-text >p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin: auto;
    margin-top: 10px;
    line-height: 1.5;
    font-family: var(--main-text-font);
    text-align: center;
}

.footer-icons{
    display: flex;
    justify-content: center;
    width: 30%;
    margin-top: 30px;
}

.footer-icons >li{
    list-style: none;
    padding: 10px;
    font-size: 2rem;
    cursor: pointer;
}
/* end of responsive footer */

}

@media (min-width:481px) and (max-width:767px){
    html{
        scroll-behavior: smooth;
    }
    
    body{
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        position: relative;
    }

     /* home section */
   
     #home{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 50px 0px 50px 0px;
        position: relative;
    }
    
    .section-img{
        width: 100%;
        position: relative;
    }
    
    .section-img >img{
        max-width: 100%;
        height: auto;
        position: relative;
        z-index: 2;
    }
    
    .section-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .header{
        width: 100%;
    }
    
    .header >h5{
        width: 100%;
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 1.8px;
        font-family: Agrandir;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
    #section-text{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: var(--main-paragraph-bg-color);
        width: 100%;
        height: 200px;
        padding: 20px;
        border: none;
        border-radius: 7px;
        margin-top: 10px;
        text-align: center;
    }
    
    #section-text >p{
        letter-spacing: 1px;
        line-height: 1.2;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        color: var(--main-text-color);
        width: 100%;
        font-size: 1rem;
    }
    
    .section-buttons{
        width: 100%;
        display: flex;
        margin: auto;
        margin-top: 30px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    #red{
      width: 40%;
      height: 50px;
      margin-right: 20px;
      border: none;
      border-radius: 50px;
      outline: none;
      color: #fff;
      background: #f50808;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
    }
    #blue{
        width: 40%;
        height: 50px;
        margin-right: 20px;
        border: none;
        border-radius: 50px;
        outline: none;
        color: #fff;
        background: #080cf5;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
      }
/* end of home section */

/* about responsiveness */
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    height: auto;
    position: relative;
}

#about >h3{
  text-align: center;
  margin-bottom: 50px;
  font-size: 2rem;
  font-weight: 700;
}

.content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.reasons{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.actual-reason{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    position: relative;
    text-align: center;
}

.actual-reason >img{
    width: 100%;
    margin: 30px;
}

.actual-reason >h3{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1.2px;
    line-height: 1.8;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actual-reason >p{
    font-size: 1rem;
    color: #706e6e;
    letter-spacing: 1.2px;
    line-height: 1.3;
    font-family: Avenir;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* end of about responsiveness */

/* club  responsive*/
#clubs{
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
}

.images{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.images >img{
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

.club-description{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

.club-description >h3{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.2;
    margin-top: -30px;
}

.club-text{
    background: var(--main-paragraph-bg-color);
    width: 95%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    border: none;
    border-radius: 10px;
}

.club-text >p{
    font-family: 'Montserrat', sans-serif;
    color: var(--main-text-color);
    letter-spacing: 1.5px;
    line-height: 1.3;
    width: 100%;
}

#club-button{
    margin-top: 30px;
    width: 50%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 50px;
    background: #f50808;
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
}
/* end of club responsive */

/* responsive credentials */
#credentials{
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.cred-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.details{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.details >h3{
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 300;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form{
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
}

.names{
    display: flex;
    width: 100%;
}

.names >input{
    width: 50%;
    margin-bottom: 10px;
    height: 50px;
    border: 1px solid #b4b1b1;
    border-radius: 50px;
    font-size: 1rem;
    padding: 20px;
    outline: none;
}

#last{
    margin-left: 10px;
}

#number >input{
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    border: 1px solid #b4b1b1;
    border-radius: 50px;
    font-size: 1rem;
    padding: 20px;
    outline: none;
}

#id >input{
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    border: 1px solid #b4b1b1;
    border-radius: 50px;
    font-size: 1rem;
    padding: 20px;
    outline: none;
}
::-webkit-input-placeholder { 
    color: #beb8b9;
    font-family: Avenir;
  }

.select{
    display: flex;
    width: 100%;
    padding: 10px;
}

.dropdown{
    display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 300;
	color: #b4b0b0;
    line-height: 1.3;
    outline: none;
	padding: .6em 1.4em .5em .8em;
    width: 100%;
    height: 50px;
	max-width: 100%;
	box-sizing: border-box;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: 50px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.dropdown::-ms-expand {
	display: none;
}

.grade-options{
    display: flex;
    font-size: 1rem;
    margin-top: 50px;
}

#grade >option{
    margin-top: 100px;
}

#grade{
    width: 100%;
}
 select option{
     border-radius: 10px;
 }

 #subject{
     margin-left: 10px;
     width: 100%;
 }


#details-button{
    margin: auto;
    margin-top: 20px;
    width: 60%;
    height: 60px;
    border: none;
    border-radius: 50px;
    background: #f50808;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: none;
}

/* end of responsive credentials */

/* responsive team */
#team{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.team-image{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.team-image >img{
    max-width: 40%;
    height: auto;
}

.team-contents{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 50px;
}

.team-contents >h3{
    max-width: 100%;
    font-size: 2rem;
    font-weight: 700;
    font-family: Agrandir;
}

.team-role{
    width: 100%;
    height: 180px;
    background: var(--main-paragraph-bg-color);
    border-radius: 10px;
    margin-top: 30px;
}

.team-role >p{
    padding: 10px;
    line-height: 1.5;
    font-family: Avenir;
    text-align: center;
}

#team-btn{
    width: 40%;
    margin-top: 20px;
    border: none;
    border-radius: 50px;
    height: 50px;
    outline: none;
    cursor: pointer;
    color: #ebebeb;
    background: #e9130c;
    font-size: 1rem;
    font-weight: bold;
    font-family: Agrandir;
    text-align: center;
}

#team-btn:hover{
    opacity: 0.8;
}
/* end of responsive team */

/* responsive contact-us */
#contact-us{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 10px;
}

.contact-section-img{
    width: 100%;
    display: flex;
    margin: auto;
    text-align: center;
}

.contact-section-img >img{
    margin: auto;
    max-width: 80%;
    transform: scaleX(-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.contact-details >h3{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect{
   margin: 20px;
   width: 95%;
   height: 180px;
   display: flex;
   flex-direction: column;
   padding: 10px;
   background: var(--main-paragraph-bg-color);
   justify-content: space-evenly;
   color: var(--main-text-color);
   border: none;
   border-radius: 10px;
   font-family: var(--main-text-font);
}

.connect i{
    margin-right: 10px;
    font-size: 2rem;
}

.fa-phone-square-alt{
    color: #70d170;
}

.fa-envelope-square{
   color: #43d1eb;
}

.fa-whatsapp-square{
    color: #68d868;
}

.fa-map-marker-alt{
    color: #fff;
}

/* end of responsive contact-us */

/* responsive footer */
#footer{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #db0e0e;
    background-size: cover;
    color: #fff;
    margin: 0;
    height: auto;
    
}

.footer-text >p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin: auto;
    margin-top: 10px;
    line-height: 1.5;
    font-family: var(--main-text-font);
    text-align: center;
}

.footer-icons{
    display: flex;
    justify-content: center;
    width: 30%;
    margin-top: 30px;
}

.footer-icons >li{
    list-style: none;
    padding: 10px;
    font-size: 2rem;
    cursor: pointer;
}
/* end of responsive footer */

}


@media (min-width:767px) and (max-width:1024px) and (orientation: landscape){
    html{
        scroll-behavior: smooth;
    }
    
    body{
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        position: relative;
        margin: 0;
    }
    
    /* home section styles */
    #home{
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: auto;
        position: relative;
    }
    
    .section-img{
        width: 30%;
    }
    
    .section-img >img{
        width: 100%;
        height: 400px;
    }
    
    .section-description{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    
    .header{
        width: 100%;
    }
    
    .header >h3{
        width: 100%;
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 1.8px;
        line-height: 1.2;
        font-family: Agrandir;
    }
    
    #section-text{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: var(--main-paragraph-bg-color);
        width: 100%;
        height: 180px;
        padding: 20px;
        border: none;
        border-radius: 7px;
        margin-top: 15px;
    }
    
    #section-text >p{
        letter-spacing: 1.2px;
        line-height: 1.5;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        color: var(--main-text-color);
        width: 100%;
    }
    
    .section-buttons{
        width: 80%;
        display: flex;
        margin-top: 30px;
    }
    
    #red{
      width: 50%;
      height: 40px;
      margin-right: 20px;
      border: none;
      border-radius: 50px;
      outline: none;
      color: #fff;
      background: #f50808;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
    }
    #blue{
        width: 50%;
        height: 40px;
        margin-right: 20px;
        border: none;
        border-radius: 50px;
        outline: none;
        color: #fff;
        background: #080cf5;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
      }
    
    
    /* end of home section styles */
    
    /* about section */
    #about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        width: 100%;
        height: auto;
        position: relative;
    }
    
    #about >h3{
      text-align: center;
      margin-bottom: 100px;
      font-size: 2rem;
      font-weight: 700;
    }
    
    .content{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    
    .reasons{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 150px;
    }
    
    .actual-reason{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 40%;
        position: relative;
        text-align: center;
    }

    .actual-reason >img{
        width: 50%;
    }
    
    .actual-reason >h3{
        text-transform: uppercase;
        letter-spacing: 1.2px;
        margin-top: 20px;
        display: flex;
        width: 80%;
        font-size: .8rem;
    }
    
    .actual-reason >p{
        font-size: .8rem;
        color: #706e6e;
        width: 100%;
        font-family: Avenir;
    }
    
    #hybrid-container >img{
        height: 130px;
    }
    /* end of about */
    
    /* clubs style */
    #clubs{
        display: flex;
        width: 100%;
        position: relative;
        margin-top: 100px;
        justify-content: space-between;
        margin-bottom: 100px;
    }
    
    .images{
        display: flex;
        width: 40%;
        margin-left: 20px;
        justify-content: space-around;
    }
    
    .club-description{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    
    .club-description >h3{
        font-size: 2rem;
        font-weight: 700;
        line-height: 3;
        letter-spacing: 1.2;
    }
    
    .club-text{
        background: var(--main-paragraph-bg-color);
        width: 95%;
        height: 200px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 20px;
        border: none;
        border-radius: 10px;
    }
    
    .club-text >p{
        font-family: 'Montserrat', sans-serif;
        color: var(--main-text-color);
        letter-spacing: 1.5px;
        line-height: 1.3;
        width: 100%;
    }
    
    #club-button{
        margin-top: 30px;
        width: 50%;
        height: 50px;
        outline: none;
        border: none;
        border-radius: 50px;
        background: #f50808;
        text-transform: capitalize;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        font-size: 1rem;
    }
    /* end of clubs style */
    
    /* credentials styles */
    #credentials{
        margin-top: 100px;
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 100px;
    }
    
    .cred-image{
        width: 40%;
    }
    
    .details{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    
    .details >h3{
        margin-bottom: 20px;
        font-size: 2.5rem;
        font-weight: 300;
        width: 100%;
    }
    
    #form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .names{
        display: flex;
        width: 100%;
    }
    
    .names >input{
        width: 50%;
        margin-bottom: 10px;
        height: 40px;
        border: 1px solid #b4b1b1;
        border-radius: 50px;
        font-size: 1rem;
        padding: 20px;
        outline: none;
    }
    
    #last{
        margin-left: 10px;
    }
    
    #number >input{
        width: 100%;
        margin-bottom: 10px;
        height: 40px;
        border: 1px solid #b4b1b1;
        border-radius: 50px;
        font-size: 1rem;
        padding: 20px;
        outline: none;
    }
    
    #id >input{
        width: 100%;
        margin-bottom: 10px;
        height: 40px;
        border: 1px solid #b4b1b1;
        border-radius: 50px;
        font-size: 1rem;
        padding: 20px;
        outline: none;
    }
    ::-webkit-input-placeholder { 
        color: #beb8b9;
        font-family: Avenir;
      }
    
    .select{
        display: flex;
        width: 100%;
    }
    
    .dropdown{
        display: block;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 300;
        color: #b4b0b0;
        line-height: 1.3;
        outline: none;
        padding: .6em 1.4em .5em .8em;
        width: 100%;
        height: 50px;
        max-width: 100%;
        box-sizing: border-box;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        border-radius: 50px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
    }
    
    .dropdown::-ms-expand {
        display: none;
    }
    
    .grade-options{
        display: flex;
        font-size: 1rem;
        margin-top: 50px;
    }
    
    #grade >option{
        margin-top: 100px;
    }
    
    #grade{
        width: 100%;
    }
     select option{
         border-radius: 10px;
     }
    
     #subject{
         margin-left: 10px;
         width: 100%;
     }
    
    #details-button{
        margin-top: 30px;
        width: 50%;
        height: 40px;
        border: none;
        border-radius: 50px;
        background: #f50808;
        color: #fff;
        font-weight: bold;
        font-size: 1rem;
        outline: none;
        cursor: pointer;
    }
    /* end of credentials style */
    /* team */
    #team{
        display: flex;
        justify-content: space-around;
        margin-top: 100px 0px 50px 30px;
        position: relative;
        width: 100%;
    }
    
    .team-image{
        display: flex;
        width: 50%;
        margin-left: 30px;
        margin-top: 100px;
    }
    
    .team-image >img{
        max-width: 40%;
        height: auto;
    }
    
    .team-contents{
        display: flex;
        flex-direction: column;
        width: 40%;
        height: auto;
        margin-top: 200px;
    }
    
    .team-contents >h3{
        max-width: 80%;
        font-size: 2rem;
        font-weight: 700;
        font-family: Agrandir;
    }
    
    .team-role{
        width: 80%;
        height: 180px;
        background: var(--main-paragraph-bg-color);
        border-radius: 10px;
        margin-top: 30px;
    }
    
    .team-role >p{
        padding: 10px;
        line-height: 1.5;
        font-family: Avenir;
    }
    
    #team-btn{
        width: 30%;
        margin-top: 50px;
        border: none;
        border-radius: 50px;
        height: 50px;
        outline: none;
        cursor: pointer;
        color: #ebebeb;
        background: #ff3c00;
        font-size: 1rem;
        font-weight: bold;
        font-family: Agrandir;
        text-align: center;
    }
    
    #team-btn:hover{
        opacity: 0.8;
    }
    /* end of team */
    
    /* contact us styles */
    #contact-us{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    
    .contact-section-img{
        width: 40%;
    }
    
    .contact-section-img >img{
        margin-left: 100px;
        max-width: 100%;
        transform: scaleX(-1);
        height: 180px;
    }
    
    .contact-details{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-top: 50px;
    }
    
    .contact-details >h3{
        margin: 30px;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.2px;
        width: 100%;
    }
    
    .connect{
        margin-right: 50px;
       width: 95%;
       height: 180px;
       display: flex;
       flex-direction: column;
       padding: 10px;
       background: var(--main-paragraph-bg-color);
       justify-content: space-evenly;
       color: var(--main-text-color);
       border: none;
       border-radius: 10px;
       font-family: var(--main-text-font);
    }
    
    .connect i{
        margin-right: 20px;
        font-size: 2rem;
    }
    
    .fa-phone-square-alt{
        color: #70d170;
    }
    
    .fa-envelope-square{
       color: #43d1eb;
    }
    
    .fa-whatsapp-square{
        color: #68d868;
    }
    .fa-map-marker-alt{
        color: #edf3ed;
    }
    /* end of contact-us style */
    #footer{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background: #db0e0e;
        color: #fff;
        height: 150px;
    }
    
    .footer-text >p{
        width: 70%;
        margin-left: 50px;
        line-height: 1.5;
        font-family: var(--main-text-font);
    }
    
    .footer-icons{
        display: flex;
        justify-content: center;
        margin-right: 30px;
        width: 30%;
    }
    
    .footer-icons >li{
        list-style: none;
        padding: 10px;
        font-size: 2rem;
        cursor: pointer;
    }
    
    /* end of footer styles */
    
    
}

/* end of responsiveness */