*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}
/* header styles */

header{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   position: relative;
   background: #020202;
   color: #fff;
   margin: 0;
   height: 55px;
}

.left-header{
    display: flex;
    width: 30%;
    align-items: center;
    margin-left: 15px;
    justify-content: space-evenly;
}

.logo{
    margin: 0;
    width: 20%;
}
#left{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#left li{
    list-style: none;
    display: flex;
    width: 100%;
}

#left li a{
    color: #f3eaea;
    text-decoration: none;
}

.logo-description{
    width: 70%;
    display: flex;
    align-items: center;
}

.logo-description >h1{
    width: 20%;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

span{
    text-align: center;
    font-size: 1rem;
    margin-left: 20px;
}

.right-header{
    width: 20%;
    display: flex;
}

#right{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#right li{
    list-style: none;
    color: #fff;
}

#right li a{
    color: #f3eaea;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
}

#right #clubs{
    color: #e7f706;
}

#right #trial{
    color: #09d4f8;
}

/* end of header styles */

/* home section styles */
#home{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-top: 120px;
    position: relative;
}

.section-img{
    width: 50%;
}

.section-img >img{
    width: 100%;
    height: 530px;
}

.section-description{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header{
    width: 80%;
}

.header >h3{
    width: 80%;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.5;
}

.section-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #ebebeb;
    width: 80%;
    height: 180px;
    padding: 20px;
    border: none;
    border-radius: 7px;
    margin-top: 30px;
}

.section-text >p{
    letter-spacing: 1.2px;
    line-height: 1.5;
    color: #63341a;
    font-family: 'Montserrat', sans-serif;
}

.section-buttons{
    width: 80%;
    display: flex;
    margin-top: 30px;
}

#red{
  width: 40%;
  height: 40px;
  margin-right: 20px;
  border: none;
  border-radius: 50px;
  outline: none;
  color: #fff;
  background: #f50808;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}
#blue{
    width: 40%;
    height: 40px;
    margin-right: 20px;
    border: none;
    border-radius: 50px;
    outline: none;
    color: #fff;
    background: #080cf5;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
  }
/* end of home section styles */