*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}
/* header styles */

header{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   position: relative;
   background: #020202;
   color: #fff;
   margin: 0;
   height: 55px;
}

.left-header{
    display: flex;
    width: 30%;
    align-items: center;
    margin-left: 15px;
    justify-content: space-evenly;
}

.logo{
    margin: 0;
    width: 20%;
}
#left{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#left li{
    list-style: none;
    display: flex;
    width: 100%;
}

#left li a{
    color: #f3eaea;
    text-decoration: none;
}

.logo-description{
    width: 70%;
    display: flex;
    align-items: center;
}

.logo-description >h1{
    width: 20%;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

span{
    text-align: center;
    font-size: 1rem;
    margin-left: 20px;
}

.right-header{
    width: 20%;
    display: flex;
}

#right{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#right li{
    list-style: none;
    color: #fff;
}

#right li a{
    color: #f3eaea;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
}

#right #clubs{
    color: #e7f706;
}

#free{
    color: #09c8f8;
}

/* end of header styles */

/* home section styles */
#home{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-top: 120px;
    position: relative;
}

.section-img{
    width: 50%;
}

.section-img >img{
    width: 100%;
    height: 530px;
}

.section-description{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header{
    width: 80%;
}

.header >h3{
    width: 80%;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.5;
}

.section-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #ebebeb;
    width: 80%;
    height: 180px;
    padding: 20px;
    border: none;
    border-radius: 7px;
    margin-top: 30px;
}

.section-text >p{
    letter-spacing: 1.2px;
    line-height: 1.5;
    color: #63341a;
    font-family: 'Montserrat', sans-serif;
}

.section-buttons{
    width: 80%;
    display: flex;
    margin-top: 30px;
}

#red{
  width: 40%;
  height: 40px;
  margin-right: 20px;
  border: none;
  border-radius: 50px;
  outline: none;
  color: #fff;
  background: #f50808;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
#blue{
    width: 40%;
    height: 40px;
    margin-right: 20px;
    border: none;
    border-radius: 50px;
    outline: none;
    color: #fff;
    background: #080cf5;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
  }
/* end of home section styles */

/* about section */
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    width: 100%;
    height: auto;
    position: relative;
}

#about >h3{
  text-align: center;
  margin-bottom: 100px;
  font-size: 2rem;
  font-weight: 300;
}

.reasons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 150px;
}

.actual-reason{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.actual-reason >h3{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1rem;
    letter-spacing: 1.2px;
    line-height: 1.8;
    margin-top: 20px;
}

.actual-reason >p{
    font-size: 1rem;
    color: #706e6e;
    width: 80%;
    letter-spacing: 1.5px;
    line-height: 1.3;
}

#hybrid{
    padding-left: 22px;
    text-indent: -22px;
}

#dynamic{
    padding-left: 25px;
    text-indent: -25px;
}
/* end of about */

/* clubs style */
#clubs{
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 100px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.images{
    display: flex;
    width: 50%;
    margin-left: 30px;
    justify-content: space-around;
}

.club-description{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.club-description >h3{
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3;
    letter-spacing: 1.2;
}

.club-text{
    background: #dddddd;
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    border: none;
    border-radius: 10px;
}

.club-text >p{
    color: #472419;
    letter-spacing: 1.5px;
    line-height: 1.8;
    width: 90%;
}

#club-button{
    margin-top: 30px;
    width: 30%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 50px;
    background: #f50808;
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
}
/* end of clubs style */

/* credentials styles */
#credentials{
    margin-top: 100px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 100px;
}

.cred-image{
    width: 40%;
}

.details{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.details >h3{
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 300;
    width: 80%;
}

#form{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.names{
    display: flex;
    width: 100%;
}

.names >input{
    width: 50%;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid #706e6e;
    border-radius: 50px;
    font-size: 1rem;
    padding: 20px;
    outline: none;
}

#last{
    margin-left: 10px;
}

#number >input{
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid #706e6e;
    border-radius: 50px;
    font-size: 1rem;
    padding: 20px;
    outline: none;
}

#id >input{
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid #706e6e;
    border-radius: 50px;
    font-size: 1rem;
    padding: 20px;
    outline: none;
}

.select{
    display: flex;
    width: 100%;
}

#grade-btn{
    width: 50%;
    height: 40px;
    border: 1px solid #706e6e;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
    color: #706e6e;
    background: none;
    outline: none;
}

#grade{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
}

#subject-btn{
    width: 50%;
    height: 40px;
    border: 1px solid #706e6e;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
    color: #706e6e;
    margin-left: 10px;
    background: none;
    outline: none;
}

#subject{
    width: 20%;
    border: none;
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
}

#details-button{
    margin-top: 30px;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 50px;
    background: #f50808;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}
/* end of credentials style */

/* contact us styles */
#contact-us{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 50px;
}

.contact-section-img{
    width: 50%;
}

.contact-section-img >img{
    max-width: 80%;
    transform: rotate(360deg)!important;
}

.contact-details{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 50px;
}

.contact-details >h3{
    margin: 30px;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.2px;
    width: 100%;
}

.connect{
   margin: 30px;
   width: 80%;
   height: 180px;
   display: flex;
   flex-direction: column;
   padding: 10px;
   background: #dddddd;
   justify-content: space-evenly;
   color: #491b0f;
   border: none;
   border-radius: 10px;
}

.connect i{
    margin-right: 20px;
    font-size: 2rem;
}

.fa-phone-square-alt{
    color: #1fb41f;
}

.fa-envelope-square{
    color: #3585c7;
}

.fa-whatsapp-square{
    color: #1fb41f;
}

#footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: #e77d26;
    color: #fff;
    height: 150px;
}

.footer-text{
    width: 50%;
    margin-left: 50px;
    letter-spacing: 1.2px;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 300;
}

.footer-icons{
    display: flex;
    justify-content: center;
    margin-right: 30px;
    width: 30%;
}

.footer-icons >li{
    list-style: none;
    padding: 10px;
    font-size: 2rem;
    cursor: pointer;
}


/* end of contact us styles */