*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

header{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   position: relative;
   background: #020202;
   color: #fff;
   margin: 0;
   height: 50px;
}

.left-header{
    display: flex;
    width: 30%;
    align-items: center;
    margin: 0;
}

.logo{
    margin: 0;
    width: 50%;
}
#left{
    display: flex;
    justify-content: space-between;
    width: 50%;
}