@media (min-width:320px) and (max-width:480px){
    html{
        scroll-behavior: smooth;
    }
    
    body{
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        position: relative;
    }
    
    /* responsive header */
    header{
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        background: #020202;
        color: #fff;
        margin: 0;
        height: 55px;
     }
     
     .left-header{
         display: none;
         width: 50%;
         align-items: center;
         margin-left: 10px;
     }
     
     .logo{
         margin: 0;
         width: 20%;
     }
     #left{
         display: flex;
         justify-content: space-between;
         width: 80%;
     }
     
     #left li{
         list-style: none;
         display: flex;
         width: 100%;
     }
     
     #left li a{
         color: #f3eaea;
         text-decoration: none;
     }
     
     .logo-description{
         width: 70%;
         display: flex;
         align-items: center;
     }
     
     .logo-description >h1{
         width: 20%;
         margin: auto;
         font-size: .5rem;
         font-weight: 400;
         text-transform: uppercase;
     }
     
     span{
         text-align: center;
         font-size: 1rem;
         margin-left: 20px;
     }
     
     .right-header{
         width: 20%;
         display: flex;
     }
     
     #right{
         display: flex;
         justify-content: space-around;
         width: 100%;
     }
     
     #right li{
         list-style: none;
         color: #fff;
     }
     
     #right li a{
         color: #f3eaea;
         text-transform: uppercase;
         text-decoration: none;
         font-weight: 300;
     }
     
     #right #club1{
         color: #acb61b;
     }
     
     #right #club2{
         color: #43d1eb;
     }
}
/* end of responsive header */